.student-photo {
  max-width: 7.5%;
  border-radius: 3px;
}

.teacher-photo {
  max-width: 5%;
  border-radius: 2px;
}

.profile-photo {
  width: 100%;
  border-radius: 8px;
}

.sidebar {
  width: 25%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
}

.main {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.right {
  float: right;
}

.instructor-name {
  display:inline-block;
}

.top5 {
  margin-top: 5px;
}