<section>

  <aside class="col-sm-3">
    <img class="profile-photo" src="{{teacher.image_url || 'https://tracker.moodle.org/secure/attachment/30912/f3.png'}}" alt="">
    <h1>{{teacher.name}}</h1>
    <p>Change Photo:</p>
    <form ng-submit="updatePhoto()">
      <input id="file" type="file" />
      <input class="btn btn-default btn-lg btn-block top5" type="submit">
    </form>
  </aside>
  
  <section class="col-sm-9">
    <h2>Teacher Schedule</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="s in classes">
        <a href="#/classes/{{s.id}}">{{s.department}} {{s.code}}</a>
         <span class="right">{{s.days}} {{s.time}}</span>
      </li>
    </ul>
  </section>

</section>